/*
* @Author: chaixiaoyi
* @Date:   2019-12-10 16:07:47
* @Last Modified by:   chaixiaoyi
* @Last Modified time: 2019-12-11 18:56:37
*/
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.head{
	width: 2000px;
	height: 20px;
	background-color: #ccc;
}
.head1{
	width: 800px;
	height: 20px;
	position: absolute;
	left: 350px;
	overflow: hidden;
	top: 2px;
}
.img{
	position: absolute;
	left: 334px;
	top: 2px;
}
.warning{
	position: absolute;
	width: 370px;
	right: -270px;
}
.box{
	width: 1200px;
	height: 382px;
	border: 1px solid red;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	top: -90px;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color:     ;
	top: 150px;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
}